@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'); */


*{  
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
/* ============================================== font and body ============================================== */
header{
    background: linear-gradient(70.00deg, rgb(0, 0, 0),rgba(13, 9, 9, 0.906) 100%);
    width: 100%;
    height: 874px;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.nav-logo{
    margin: 50px;
    color: rgb(239, 15, 15);
    font-size: 36px;
    font-weight: 800;
    /* line-height: 120%; */
    
}
nav ul{
    border: 2px solid rgba(255, 255, 255, 0.159);
    border-radius: 15px;
    display: flex;
    /* justify-content: space-evenly; */
    list-style: none;
    padding: 5px 15px;
}
.nav-home-color-change{
    border: 2px solid red;
    border-radius: 15px;
    padding: 0 8px;
    background-color:  rgb(239, 15, 15);
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    /* margin-right: 25px; */
    color: wheat;
}
.fa-solid{
    display: none;
}


/* =================================== nav done ====================================== */

.the-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin: 150px;
}

.banner-text h1{
    color: wheat;
    font-size: 78px;
    font-weight: 600;
    line-height: 150%;
}
.banner-italic{
    color: wheat;
    font-size: 78px;
    font-weight: 300;
    font-family: "Playwrite CU", cursive;
}

.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left; 
    margin-bottom: 35px;
}

.banner-button a{
    font-weight: 500;
    text-decoration: none;
    color: wheat;
    border: 2px solid red;
    border-radius: 15px;
    background-color: red;
    padding: 5px 25px;
    /* margin: 0 15px; */
    margin-right: 15px;
}
.to-hover:hover{
    background-color: rgba(255, 255, 255, 0.159);
    border: rgba(255, 255, 255, 0.159);
}
/* .banner-btn-correction {
    display: none;
}
.banner-btn-correction a{
    display: none;
} */
.banner-stat1{
    border: 2px solid rgba(255, 255, 255, 0.159);
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 800px;
    top: 460px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 10px;
    color: wheat;
    font-weight: 600;
}

.banner-stat2{
    border: 2px solid rgba(255, 255, 255, 0.159);
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1000px;
    top: 680px;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 10px 0px 10px 10px;
    color: wheat;
    font-weight: 600;
}
/* ================================ header done =========================================== */


main{
    background-color: pink;
}

.change-your-habit-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-habit-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 80px;
    width: 50%;
    /* border: 2px solid red; */
}

.change-habit-text-container h1{
    color: wheat;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%; 
    margin-bottom: 20px;   
}
.change-habit-text-container p{
    text-align: center;
    color: wheat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;   
}

.habit-img-container{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* border: 2px solid black; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 20px;
    justify-content: center;

}

.habit-img-box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.habit-img-box h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: wheat;
}
.habit-img-box p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    color: wheat;
}
.habit-img-box img{
    border-radius: 100px;
}
/* ================================ Change your habit =========================================== */

#change-color-extra-mile{
    background-color: rgb(34, 34, 34);
}
.run-extra-mile-container{
    width: 80%;
    margin: 100px 100px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 15px;
}
.run-extra-mile-text-box{
    width: 40%;
}
.run-extra-mile-img img{
    width: 366px;
    height: 300px;
    border-radius: 15px;
}
.run-extra-mile-text-box h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    color: wheat;
    margin-bottom: 10px;
}
.run-extra-mile-text-box p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: wheat;
    margin-bottom: 20px;
}

.run-extra-btn a{
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: 2px solid red;
    border-radius: 15px;
    padding: 5px 30px;
    background-color: red;
}

.bmi-calcu-container{
    width: 100%;
    /* border: 2px solid red; */
    /* margin: 0 100px; */
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.bmi-calcu-container h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;   
    color: wheat;
}
.bmi-calcu-container p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: wheat;
}
/* =========================================BMI calcu the text ====================================== */
#bmi-background-color-change{
    background: rgb(34, 34, 34);
}
.bmi-calcu-chart-box{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.bmi-calcu-chart-tex-box{
    /* border: 2px solid black; */
    width: 40%;
    margin: 50px;
    /* text-align: center; */
}
.bmi-calcu-chart-tex-box h2{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    color: wheat;
}

.bmi-calcu-chart-text{
    display: grid;
    grid-template-columns: 50% 1fr;
    /* gap: 15px; */
    /* border: 2px solid green; */
}
.heading-decoration{
    font-size: 16px;
    font-weight: 500;
}
.bmi-headings p{
    color: wheat;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.bmi-description p{
    color: wheat;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    text-align: center; 
    font-size: 14px;
    font-weight: 400;
}

.bmi-calculator-chart-box{
    margin: 50px;
    /* border: 2px solid black; */
    width: 60%;
}
.bmi-calculator-chart-box h2{
    font-size: 28px;
    font-weight: 900;
    color: wheat;
    margin-bottom: 15px;
    margin-left: 10px;
}
.bmi-calculator-chart-box p{
    font-size: 14px;
    font-weight: 400;
    color: wheat;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* .bmi-calculator-chart-form{
    border: 2px solid red;
} */

.bmi-form-deco{
    width: 40%;
    position: relative;
    margin: 10px 10px;
    /* border: 3px solid red; */

    height: 40px;
    padding: 0 10px;
    border-radius: 8px; 
    background-color: gray;
    border: none;
}
::placeholder{
    color: wheat;
}
.form-deco-two{
    width: 40%;
    /* position: relative; */
    /* margin: 10px 10px; */
    /* border: 3px solid red; */
    height: 40px;
    padding: 0 10px;
    border-radius: 8px; 
    background-color: gray;
    color: wheat;
    border: none;
}
.last-bmi-form-deco{
    width: 90%;
    position: relative;
    margin: 10px;
    height: 40px; 
    padding: 0 10px;
    border-radius: 8px;
    background-color: gray;
    color: wheat;
    border: none;
    
}
.form-btn{
    margin: 20px 10px;
}
.form-btn a{
    text-decoration: none;
    color: wheat;
    /* border: 2px solid red; */
    /* margin: 20px 10px; */
    padding: 5px 50px;
    background-color: red;
    border-radius: 15px;
    font-weight: 600;

}
/* ======================== BMI Calculator the box and form =================================== */
.meet-our-team-main-container{
    /* border: 2px solid red; */
    margin: 50px auto;
}
.meet-our-team-container{
    margin: 10px auto;
    width: 80%;
    /* border: 2px solid red; */
}
.meet-our-team-container h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    color: wheat;
}
.team-intro{
    color: wheat;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}
.meet-our-team-box{
    /* border: 2px solid green; */
    /* margin: 15px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    background-color: grey;
    border-radius: 15px;
}
.team-member{
    /* border: 2px solid purple; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 10px;
    
}
.team-member img {
    height: 270px;
    width: 100%;
    display: block;
    border-radius: 10px;
    
}
.team-info {
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: 0;
    width: 100%;
}
.team-info h4{
    color: white;
}
.team-info p{
    color: white;
}

/*     <!-- ================================= Meet our team ================================= -->*/

/* @media (min-width: 992px) {
    header{
        background: linear-gradient(70.00deg, rgb(0, 0, 0),rgba(13, 9, 9, 0.906) 100%);
        border: 2px solid red;
    }
    .the-banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px;

    }
    .banner-text h1{
        font-size: 40px;
    }
    .banner-italic{
        font-size: 40px;
    }
    .banner-button{
        width: 100px;
        font-weight: 500;
        text-decoration: none;
        color: wheat;
        border: 2px solid red;
        border-radius: 15px;
        background-color: red;
        padding: 5px 25px;
        margin-right: 15px;
    }
    .banner-stat1{
        position: absolute;
        left: 750px;
        top: 500px;
        font-size: 10px;
        height: 50px;
        width: 110px;
        
    }
    .banner-stat2{
        position: absolute;
        left: 800px;
        top: 600px;
        font-size: 10px;
        height: 50px;
        width: 110px;
    }
 
    .banner-button{
        display: none;
    }
 
    .banner-btn-correction a{
        color: wheat;
        text-decoration: none;
        border: 2px solid red;
        margin-right: 20px;
        padding: 5px 40px;
        border-radius: 15px;
        background-color: red;
    }
    .banner-button a{
        margin: 5px;
        padding: 5px;
        font-size: 10px;

    }
}   */

@media (max-width: 576px) {
    nav{
        margin: 0px 5px;
    }
    nav ul{
        display: none;
    }
    nav .fa-solid{
        display: block;
        color: wheat;
    }
    /* ----------------------------- */
    .the-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
    .banner-text h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    }
    .banner-italic{
        font-size: 30px;
        font-weight: 300;
        font-family: "Playwrite CU", cursive;
    }
    .banner-text p{
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        /* letter-spacing: 0.5px; */
        text-align: left; 
        margin-bottom: 25px;
    }
    .banner-button a{
        font-weight: 500;
        text-decoration: none;
        color: wheat;
        border: 2px solid red;
        border-radius: 15px;
        background-color: red;
        padding: 2px 18px;
        margin-right: 15px;
    }
    .banner-man-image{
        height: 480px;
    }
    .banner-stat1{
        border: 2px solid rgba(255, 255, 255, 0.159);
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50px;
        top: 520px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0px 10px 10px 10px;
        color: wheat;
        font-weight: 600;
        font-size: 10px;
    }
 
    .banner-stat2{
        border: 2px solid rgba(255, 255, 255, 0.159);
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 800px;
        left: 200px;
        background-color:  rgba(255, 255, 255, 0.1);
        border-radius: 10px 0px 10px 10px;
        color: wheat;
        font-weight: 600;
        font-size: 10px;
    }
    .change-habit-text-container{
        width: 70%;
        margin: 50px;
    }
    .change-habit-text-container h1{
        text-align: center;
        font-size: 35px;
        font-weight: 900;
        line-height: 120%;       
    }
    .change-habit-text-container p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;       
    }

    .habit-img-container{
        /* display: grid;
        grid-template-columns: repeat(1, 20%); */
        display: flex;
        flex-direction: column;
    }
    /* ------------------------------------- */
    
    .run-extra-mile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        color: black;
        border-radius: 20px;

    }
    .run-extra-mile-text-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .run-extra-mile-text-box h1{
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
    }
    .run-extra-mile-text-box p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
    }
    .run-extra-mile-img img{
        margin-top: 30px;
        width: 250px;
        height: 230px;
        border-radius: 15px;
    }
     /* ------------------------------------- */

    .bmi-calcu-chart-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bmi-calcu-chart-tex-box{
        width: 70%;
    }
    .bmi-calculator-chart-box{
        width: 100%;
    }


}

